
{% extends 'base.html' %}

{% block content%}

<h1> Gonna git me a chart right here ! </h1>

<br/>
    <form action = "{% url 'chart' %}" class ="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Select Stock" aria-label="Search" name="schart">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Get Chart</button>
    </form>
<br/>

{% if schart %}
    {{ schart }}
{% endif %}

{% if api %}

    {% if api == "Error..." %}
        There was an issue ,,  Try again !

    {% else %}
    {% for item in api %}
       <h1> {{ item.date }}</h1></br>
       <h1>{{item.uVolume}}</h1></br>
    {% endfor %} 


              
    {% endif %}

{% endif %}

{% endblock %}

